#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero {
  background-color: #000;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
}

.hero-content {
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}



/* Estilos da página sobre nós */
.sobre {
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
}

.sobre-content {
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.646);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.sobre-content a {
  font-size: 1.3em;
}

.sobre-content a:hover {
  text-decoration: underline;
}

.features {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.testimonials {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.cta-button {
  padding: 10px 20px;
  background-color: #EE6018;
  color: #fff;
  text-decoration: wavy;
  border-radius: 10px;
}

/* Estilos gerais da navbar */
.navbar {
  background-color: #111;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.nav-item {
  position: relative;
  margin-right: 2rem;
  font-size: x-large;
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  gap: 15px;
}

.nav-link:hover {
  color: #EE6018;
}

/* Estilos para o dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: block;
  z-index: 10;
}

.dropdown li {
  margin-bottom: 0.5rem;
  gap: 15px;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.dropdown li a:hover {
  color: #EE6018;
}

/* Estilo para o botão de sign up */
.signup-btn {
  background-color: #EE6018;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10rem;
}

.signup-btn:hover {
  background-color: rgb(255, 166, 0);
}

/* Estilos do Footer */
.footer {
  background-color: #111;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-site a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

.footer-site a:hover {
  color: #EE6018;
}

.footer-social a {
  margin-right: 2rem;
}

.footer-icons {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.footer-icons:hover {
  transform: scale(1.1);
}

.mapaImg {
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}

/* Estilos da signup page */
.signup-container {
  background-color: rgba(44, 44, 44, 0.776);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2rem;
  width: 35%;
  position: fixed;
  top: 150px;
  right: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  bottom: 10%;
}

/* Form styling */
.signup-section {
  display: flex;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.signup-body {
  text-align: left;
}

.signup-form h1 {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  text-decoration: underline;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.signup-form label {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.signup-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #ccc;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.signup-form button {
  align-items: center;
  padding: 0.8rem;
  background-color: #EE6018;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
}

.signup-form button:hover {
  background-color:  #cf5213; /* Cor ao passar o mouse */
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    justify-content: center;
  }

  .hero-image {
    max-width: auto;
    margin-bottom: 2rem;
  }

  .signup-container {
    width: auto;
    margin: 0 auto;
  }
}

.mapaImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}

.turismo-container {
  display: grid;
  gap: 5px;
  grid-template-rows: auto auto auto auto; 
  grid-template-columns: 350px 420px;
  grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
}


.turismo-one{
  grid-area: a;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turismo-two{
  grid-area: b;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turismo-three{
  grid-area: c;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turismo-four{
  grid-area: d;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-one-turismo{
  width: 100%;
}

.img-two-turismo {
  width: 100%;
}

.content-one-turismo {
  text-align: center;
  font-size: larger;
  color: white;
}

.content-two-turismo{
  text-align: center;
  font-size: larger;
  color: white;
}

.turismo-titulo {
  font-size: xx-large;
  color: white;
}

@media (min-width: 1024px) {
  .turismo-container {
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b"
      "d c";
  }

  .turismo-one {
    height: 50rem;
  }

  .turismo-two {
    height: 50rem;
  }

  .turismo-three {
    height: 4rem;
  }

  .turismo-four {
    height: 8rem;
  }
  
  .img-one-turismo{
    width: 90%;
  }
  .img-two-turismo {
    width: 100%;
    
  }
  .content-one-turismo {
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  .content-two-turismo{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .turismo-titulo {
    font-size: 50px;
    color: white;
  }
}

.data-line-up {
  background-color: rgba(0, 0, 0, 0.683);
}

.conteiner-line-up-img {
  display: flex;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 50%;
  left: 0%;
  top: 5%;
  color: white;
  background-image: url('./images/lineup.jpg');
  background-size: cover; /* cobre toda a div */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição da imagem */
  align-items: flex-end;
  justify-content: center;
  

  
}

.conteiner-tabelas-line-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  position: relative;
  top: 20rem;
}

.flex-container-turismo {
  display: flex;
  flex-direction: row;
}

.topo-res{
  top: auto;
  bottom: 1rem;
  display: flex;
  position: relative;
  z-index: -1;
  height: 5rem;
}

.h1-res{
  color: white;
  font-size: 1.5em;
}

.restaurantes-conteiner{
  display: grid;
  gap: 1.2rem;
  grid-template-rows: auto;
  justify-content: center;
}

.item-res{
  gap: 0.5rem;
  grid-template-areas: 
      "a" "b"
      "c" "b"
  ;
  color: white;
  background-color: #000000;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
  width: 20rem;
  height: 9.5rem;
}

.nome-res{
  color: #fff;
  height: 1.2rem;
  font-size: 1.5rem;
}


.gps-container {
  display: grid;
  grid-template-rows: auto auto auto auto; 
  grid-template-columns: 1fr 1fr;
  border: 4px solid orange; 
}


@media (min-width: 768px) {
  .gps-container {
    grid-template-columns: 1fr 1fr; 
    border: 3px solid orange; 
  }
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  color: white;
}

.menu-toggle {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  right: 5%;
}

/* Menu fechado por padrão no mobile */
.navbar-menu {
  list-style-type: none;
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 100%; /* Posição logo abaixo da navbar */
  left: 0; 
}

.navbar-menu li {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #333;
}

.navbar-home {
  color: white;
  position: relative;
  margin-right: 2rem;
  font-size: x-large;
}

/* Mostrar o menu se aberto */
.navbar-menu.open {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Layout de desktop */
@media only screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .menu-toggle {
    display: none; /* Esconder o botão no desktop */
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
  }

  .navbar-menu li {
    border-top: none;
    margin: 0 15px;
    padding: 0;
  }
  
  .signup-btn {
    background-color: #EE6018;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
  }
}



.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: black;
}

.panel {
  padding: 0 18px;
  background-color: black;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

