#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero {
  background-color: #000;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
}


.hero-content {
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media only screen and (min-width: 1025) {
  .hero-content {
    width: 5%;
    color: white;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}

/* Responsividade da hero-image */
@media only screen and (min-width: 1025) {
  .hero-image {
    position: center;
    top: 0;
    left: 0;
    width: 77.8%;
    height: 78%;
    object-fit: cover;
    z-index: -1;
  }
}

/* Estilos da página sobre nós */
.sobre {
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
}

.sobre-content {
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 0.5);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.sobre-content a {
  font-size: 1.3em;
}

.sobre-content a:hover {
  text-decoration: underline;
}

.features {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.testimonials {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.cta-button {
  padding: 10px 20px;
  background-color: #EE6018;
  color: #fff;
  text-decoration: wavy;
  border-radius: 10px;
}

/* Estilos gerais da navbar */
.navbar {
  background-color: #111;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
}

/* Responsividade do .navbar  */
@media only screen and (min-width: 1025) {
  .navbar {
    background-color: #111;
    padding: 1rem;
    position: fixed;
    width: 70.5%;
    top: 0;
    left: 0;
    padding: 10px 20px;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.nav-item {
  position: relative;
  margin-right: 2rem;
  gap: 15px;
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  gap: 15px;
}

.nav-link:hover {
  color: #EE6018;
}

/* Estilos para o dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: block;
  z-index: 10;
}

.dropdown li {
  margin-bottom: 0.5rem;
  gap: 15px;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.dropdown li a:hover {
  color: #EE6018;
}

/* Estilo para o botão de sign up */
.signup-btn {
  background-color: #EE6018;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
}

.signup-btn:hover {
  background-color: rgb(255, 166, 0);
}

/* Estilos do Footer */
.footer {
  background-color: #111;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-site a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

.footer-site a:hover {
  color: #EE6018;
}

.footer-social a {
  margin-right: 2rem;
}

.footer-icons {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.footer-icons:hover {
  transform: scale(1.1);
}

.mapaImg {
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}

/* Estilos da signup page */
.signup-container {
  background-color: rgba(44, 44, 44, 0.776);
  padding: 2rem;
  width: 35%;
  position: fixed;
  top: 150px;
  right: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* Form styling */
.signup-section {
  display: flex;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-body {
  text-align: left;
}

.signup-form h1 {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  text-decoration: underline;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.signup-form label {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.signup-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #ccc;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.signup-form button {
  align-items: center;
  padding: 0.8rem;
  background-color: #EE6018;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
}

.signup-form button:hover {
  background-color:  #cf5213; /* Cor ao passar o mouse */
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    justify-content: center;
  }

  .hero-image {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .signup-container {
    width: 90%;
    margin: 0 auto;
  }
}

.mapaImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* imagem abaixo do texto */
}

.turismo-text-content {
  justify-content: right;
  width: 100%;
}

.turismo-paragraph {
  color: white;
  font-size: larger;
  text-align: justify;
}

.turismo-titulo {
  color: white;
}

.img-turismo-one {
  z-index: -1;
  position: relative;
  right: 5%;
}

.data-line-up {
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: #000;


}

.conteiner-line-up-img {
  display: flex;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 50%;
  left: 0%;
  top: 5%;
  color: white;
  background-image: url('./images/lineup.jpg');
  background-size: cover; /* cobre toda a div */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição da imagem */
  align-items: center;
  

  
}

.conteiner-tabelas-line-up {
  display: flex;
  gap: 40%;
  position: relative;
  top: 12rem;
}

.elemento-tabela {
  color: white;
  border: 1px white solid;
  text-align: center;
  background-color: #1E1E1E;
  font-family: "Inria Sans", sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size: large;
  padding: 10px; 
}


.tabela-cabecalho {
  color:white;
  background-color: #EE6018;
  text-align: center;
  border: 1px white solid;
  font-family: "Inria Sans", sans-serif;
  padding: 10px;
}

.flex-container-turismo {
  display: flex;
  align-items: center;
}

.topo-res{
  top: auto;
  bottom: 200px;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: -1;
}

.h1-res{
  color: white;
  font-size: 2.5em;
}

.opcoes{
  color: white;
  top: auto;
  bottom: 200px;
  width: 1250px;
  text-align: left;
  position: relative;
}

.chimi{
  color: white;
  display: flex;
  background-color: #000000;
  width: 410px;
  height: 204px;
  border-style: solid;
  border-radius: 10px;
  border-color: orange;
}

.img-choripane{
  display: flex;
  align-self: center;
}