#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hero {
  height: min-content;
  width: min-content; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white;
  background-size: cover;
  background-position: center; 
  margin: 0;
  padding: 0;
}

.background-image {
  width: 1920px;
  height: 1080px;
  background: url('./images/fundo-home.jpg') center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  
  
}

.hero-content {
  width: 100rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.features {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.testimonials {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ffae00;
  color: #fff;
  text-decoration: wavy;
  border-radius: 10px;
}

/* Estilos gerais da navbar */
.navbar {
  background-color: #111;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.nav-item {
  position: relative;
  margin-right: 2rem;
  gap: 15px;
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  gap: 15px;
}

.nav-link:hover {
  color: orange;
}

/* Estilos para o dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: block;
  z-index: 10;
}

.dropdown li {
  margin-bottom: 0.5rem;
  gap: 15px;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.dropdown li a:hover {
  color: orange;
}

/* Estilo para o botão de sign up */
.signup-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
}

.signup-btn:hover {
  background-color: darkorange;
}

/* Estilos do Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.footer-social a {
  color: white;
  margin-right: 15px;
  font-size: 20px;
}
